@font-face {
  font-family: "Gilmer";
  src: url("./Gilmer-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gilmer";
  src: url("./Gilmer-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilmer";
  src: url("./Gilmer-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilmer";
  src: url("./Gilmer-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
